@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 83% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222 47.4% 11.2%;
    --card-foreground: 210 40% 98%;

    --popover: 224 83% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 145 63.4% 42.2%;
    --primary-foreground: 224 83% 4.9%;

    --secondary: 215.4 13.9% 30%;
    --secondary-foreground: 210 40% 98%;

    --muted: 215.4 13.9% 30%;
    --muted-foreground: 215.4 13.9% 65.1%;

    --accent: 203.6 92.4% 59.6%;
    --accent-foreground: 224 83% 4.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 222 47.4% 20.2%;
    --input: 222 47.4% 11.2%;
    --ring: 145 63.4% 42.2%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scroll-smooth;
  }
}
